<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zfanswer.hexo</string>
	<key>connections</key>
	<dict>
		<key>0F2EF19A-C6AF-4BA0-9FD3-81C9D620A124</key>
		<array/>
		<key>1B816989-75D0-4B30-8E89-BB032E5BC690</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDC21A9A-0DB9-43F4-A90C-08EADF2F35BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C344B26-27ED-4731-8B94-A2AA349DC373</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F2EF19A-C6AF-4BA0-9FD3-81C9D620A124</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2E23B8E8-59EB-466F-86A3-E5BE56D687EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0ED4D0D-88FC-4C37-BF4A-5698C429FD81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4988ACE1-06D3-421E-84A5-F90AB2D1497F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B816989-75D0-4B30-8E89-BB032E5BC690</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5FC7E89F-2D3F-42AB-9505-AF4538870692</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73A9C6C3-2436-477B-8F3B-7400A0810E24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73A9C6C3-2436-477B-8F3B-7400A0810E24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C25200A6-C35B-4F6B-A85F-1CD070098E51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96CFF4B7-3A81-4D72-8660-9649A84331F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9F8557C-E8F7-4DE7-8D40-E38E9BAB04A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E73A521-F217-4333-8624-425DB884B44D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A7BECE32-8B94-4078-96FA-343ADB09A181</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>233DF449-D55E-4506-B982-B4CE9FE55203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD90C079-03BA-4EEF-A64E-D9882107EA6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB90D422-9D61-4026-AC68-E79C3BAB8F40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96CFF4B7-3A81-4D72-8660-9649A84331F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DFE5E386-EC1F-40F1-B41F-1806314F6382</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7BECE32-8B94-4078-96FA-343ADB09A181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>小米飯</string>
	<key>description</key>
	<string>New a hexo post and open it with Macdown editor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hexo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A0ED4D0D-88FC-4C37-BF4A-5698C429FD81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hexoo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>hexodir=(${HOME}/Dropbox/hexo)
postdir=(${hexodir}/source/_posts)

IFS=$'\n'

files=$(ls -dtc ${postdir}/* | grep -i ".*{query}.*" | perl -MHTML::Entities -CS -pe'$_ = encode_entities($_, q{&amp;&lt;&gt;"'\''})')

echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for file in ${files}; do
	echo "&lt;item uuid='file' arg='${file}' type='file'&gt;"
	echo "&lt;title&gt;$(basename ${file})&lt;/title&gt;"
	echo "&lt;subtitle&gt;${file}&lt;/subtitle&gt;"
	echo "&lt;icon type='fileicon'&gt;${file}&lt;/icon&gt;"
	echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>subtext</key>
				<string>Open a previous post</string>
				<key>title</key>
				<string>hexo open</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2E23B8E8-59EB-466F-86A3-E5BE56D687EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hexon</string>
				<key>subtext</key>
				<string>Creat a new post</string>
				<key>text</key>
				<string>hexo new</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4988ACE1-06D3-421E-84A5-F90AB2D1497F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>hexodir=(${HOME}/Dropbox/hexo)

cd ${hexodir}
hexo new post "{query}"</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B816989-75D0-4B30-8E89-BB032E5BC690</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hexo New</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DDC21A9A-0DB9-43F4-A90C-08EADF2F35BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hexo Generate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>233DF449-D55E-4506-B982-B4CE9FE55203</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hexog</string>
				<key>subtext</key>
				<string>Build all resource of hexo blog</string>
				<key>text</key>
				<string>hexo generate</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DFE5E386-EC1F-40F1-B41F-1806314F6382</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>hexodir=(${HOME}/Dropbox/hexo) # Edit this to point to your hexo folder

cd ${hexodir}
hexo generate</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7BECE32-8B94-4078-96FA-343ADB09A181</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hexod</string>
				<key>subtext</key>
				<string>Deploy hexo blog</string>
				<key>text</key>
				<string>hexo deploy</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DB90D422-9D61-4026-AC68-E79C3BAB8F40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>hexodir=(${HOME}/Dropbox/hexo)

cd ${hexodir}
hexo deploy</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96CFF4B7-3A81-4D72-8660-9649A84331F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hexo New</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A9F8557C-E8F7-4DE7-8D40-E38E9BAB04A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hexo Clean</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C25200A6-C35B-4F6B-A85F-1CD070098E51</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hexoc</string>
				<key>subtext</key>
				<string>Clean hexo cache</string>
				<key>text</key>
				<string>hexo clean</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5FC7E89F-2D3F-42AB-9505-AF4538870692</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>hexodir=(${HOME}/Dropbox/hexo)

cd ${hexodir}
hexo clean</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73A9C6C3-2436-477B-8F3B-7400A0810E24</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>DD90C079-03BA-4EEF-A64E-D9882107EA6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>hexodir=(${HOME}/Dropbox/hexo)
cd ${hexodir}
hexo server {query}
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0F2EF19A-C6AF-4BA0-9FD3-81C9D620A124</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>hexos</string>
				<key>subtext</key>
				<string>Start local hexo server</string>
				<key>text</key>
				<string>hexo server</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C344B26-27ED-4731-8B94-A2AA349DC373</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>5E73A521-F217-4333-8624-425DB884B44D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Before using this workflow, you have to do something.

1. Change every “Run Script” language to what you’re using, e.g. I’m using /bin/zsh.
2. Change the first line code of every “Run Script” script, set it pointing to your hexo folder.
3. For the command “hero deploy”, you can’t enter username/passwd for it. e.g. if you’re using Git, make sure you’re using SSH Key, it will let you skip entering username/passwd.

Please enjoy it.</string>
	<key>uidata</key>
	<dict>
		<key>0F2EF19A-C6AF-4BA0-9FD3-81C9D620A124</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>1B816989-75D0-4B30-8E89-BB032E5BC690</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>233DF449-D55E-4506-B982-B4CE9FE55203</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>2C344B26-27ED-4731-8B94-A2AA349DC373</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>2E23B8E8-59EB-466F-86A3-E5BE56D687EA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4988ACE1-06D3-421E-84A5-F90AB2D1497F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5E73A521-F217-4333-8624-425DB884B44D</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>5FC7E89F-2D3F-42AB-9505-AF4538870692</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>73A9C6C3-2436-477B-8F3B-7400A0810E24</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>96CFF4B7-3A81-4D72-8660-9649A84331F5</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A0ED4D0D-88FC-4C37-BF4A-5698C429FD81</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A7BECE32-8B94-4078-96FA-343ADB09A181</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A9F8557C-E8F7-4DE7-8D40-E38E9BAB04A6</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C25200A6-C35B-4F6B-A85F-1CD070098E51</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>DB90D422-9D61-4026-AC68-E79C3BAB8F40</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>DD90C079-03BA-4EEF-A64E-D9882107EA6F</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>DDC21A9A-0DB9-43F4-A90C-08EADF2F35BD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DFE5E386-EC1F-40F1-B41F-1806314F6382</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://zfan.me</string>
</dict>
</plist>
