<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.graftechnology.homestead</string>
	<key>connections</key>
	<dict>
		<key>A3CA3F1C-95E5-410C-8B3C-4F6B3B20CBB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>449C491C-DC43-4CAD-9E18-20AA9E2B0873</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3CA3F1C-95E5-410C-8B3C-4F6B3B20CBB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jacob Graf</string>
	<key>description</key>
	<string>Quickly bring Homestead up from within Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Homestead</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>~/.composer/vendor/laravel/homestead/homestead {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A3CA3F1C-95E5-410C-8B3C-4F6B3B20CBB7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Success!</string>
				<key>title</key>
				<string>Homestead</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>449C491C-DC43-4CAD-9E18-20AA9E2B0873</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hs</string>
				<key>text</key>
				<string>Homestead</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>449C491C-DC43-4CAD-9E18-20AA9E2B0873</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>A3CA3F1C-95E5-410C-8B3C-4F6B3B20CBB7</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://graftechnology.com</string>
</dict>
</plist>
